@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 90%;
    margin: 0 auto;
}
.text-primary{
    color: #0F294A;
}

.text-ternary{
    color: #E87B22;
}
.text-body{
    color: #21383E;
}
